 sit totam quasi accusamus eligendi id ab quos ratione beatae velit quaerat nostrum, incidunt a non omnis voluptas nam. Neque amet aspernatur dignissimos, consequuntur exercitationem rem voluptatum inventore ad sapiente maxime, perferendis autem sint doloribus at?
 <p>
    Quae iste dignissimos temporibus eum labore maxime doloremque ipsa cumque animi omnis! Quod saepe obcaecati nam incidunt, laudantium iusto aliquid adipisci voluptatibus qui
    dem exercita
 </p>
 <p>
    tionem odio ipsam. Velit, cupidit
    ate modi eos, obcaecati totam, suscipit necessitatibus libero fuga illo earum aliquam laboriosam magnam nisi perspiciatis aperiam maxime quam!
 </p>



Post::create([
'title' => 'Judul ke-empat',
'excerpt' => 'sit totam quasi accusamus eligendi id ab quos ratione beatae velit quaerat nostrum, incidunt a non omnis voluptas nam.',
'body' => '<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro rem</p><p> ducimus ipsam recusandae blanditiis magni suscipit eum, unde nisi consectetur commodi dicta ex nobis pariatur quidem beatae molestiae enim distinctio modi aperiam libero praesentium minus.</p><p> Dignissimos, sapiente. Perferendis consectetur nobis porro, eveniet ipsam sint, eius, minima modi a laudantium itaque?</p>'
])


Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro rem ducimus ipsam recusandae blanditiis magni suscipit eum, unde nisi consectetur commodi dicta ex nobis pariatur quidem beatae molestiae enim distinctio modi aperiam libero praesentium minus. Dignissimos, sapiente. Perferendis consectetur nobis porro, eveniet ipsam sint, eius, minima modi a laudantium itaque?
